.station-details-card {
  border: 1px solid black;
  margin: 5rem 0;
  width: 50%;
  text-align: left;
  padding: 1rem;
}

.property-row {
  margin: 1rem 0;
}

.property-name {
  min-width: 7rem;
  display: inline-block;
}
